*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADING PART START */

  .Header{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px;
   
  }

  .title{
    grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hamburger{
    display:none;
  }

  .title h1 {
    padding: 1%;
    text-transform: uppercase;
    font-size: 25px !important;
    font-family: 'Poppins', sans-serif;
    color: green;
  }

  span{
    font-size:40px;
    padding: 2px;
    
  }

/* HEADING PART END */


/* SMALL LINE PART START */

  .Lines{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 20px;
    align-items: center;
  }

  .mainLine {
    width: 100%;
    height: 1px;
    grid-column: 2/3;
    background-color:black;
    justify-items: center;
    background-color: green;
  }

/* SMALL LINE PART END */

/* NAVBAR STARTS */

  .navbar{
    display: grid !important;
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 40px;
    
  }

  .navbarBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column: 2/3;
   
  }

  .anchor{
    text-decoration: none;
    background: green;
    color: aliceblue;
    font-size: 17px;
    border-radius: 3px;
    padding: 4px 10px;
  }

  .anchor:hover{
    background-color: white;
    color: green;
  }

   .nothing{
    display: none;
  }
  
  .dropdown{
    display: none;
    grid-template-columns:100px 1fr 100px;
    grid-template-rows: 50px 50px 50px 50px;
    justify-items: center;
    align-items: center;
    
  }

  .anchor1{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    width: 85px;
    background: green;
    height: 28px;
    padding: 0px 6px;
    color: white;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }

  .anchor2{
    grid-column: 2/3;
    grid-row: 2/3;;
    display: grid;
    width: 85px;
    background: green;
    height: 28px;
    padding: 0px 6px;
    color: white;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }

  .anchor3{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    width: 85px;
    background: green;
    height: 28px;
    padding: 0px 6px;
    color: white;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }

  .anchor4{
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    width: 85px;
    background: green;
    height: 28px;
    padding: 0px 6px;
    color: white;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }

  .anchor5{
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    width: 85px;
    background: green;
    height: 28px;
    padding: 0px 6px;
    color: white;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  } 

  .logo-pic{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 500px;
    justify-items: center;
  }

  .logo-pic img{
    grid-column: 2/3;
  }

  .sec1{
    width: 100%;
   
  }

  .sec1 img{
    width:100%;
  }

  .threeCat{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 200px;
  }

  .cat1{
    grid-column: 2/3;
    /* background: antiquewhite; */
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 35px 1fr 35px;
  }

  .cat2{
    grid-column: 3/4;
    /* background: cadetblue; */
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 35px 1fr 35px;
  }
  

  .cat3{
    grid-column: 4/5;
    /* background: antiquewhite; */
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 35px 1fr 35px;
  }

  .box1{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    justify-content: center;
    display: flex;
    align-items: center;
  }
 
  .box1 h5{
    color: green;
    font-family: 'Poppins',sans-serif;
  }

  
  .box1 h3{
    font-family: 'Poppins',sans-serif;
  }

  .left{
    margin-left: -28%;
  }
  
  .threeCatMob{
    display: none;
  }

  .mobBox1{
    display: none;
  }

  .smMob{
    display: none;
  }

  .Philosophy h2{
    grid-row: 1/2;
    display: grid;
    justify-items: center;
    align-items: center;
    color: green;
}
    
  .Philosophy{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 50px 113px;
    background: ghostwhite;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    /* box-shadow: 0px 0px 17px 12px rgba(11,18,8,.5); */
    border-radius: 10px 50px;
    margin: 0px 20px;
    font-family: poppins;
  }

  .Philosophy:hover{
    box-shadow: 0px 0px 17px 12px rgba(11,18,8,.5); 
  }

  .Philosophy h6{
        grid-row: 2/3;
    display: grid;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
  }

  .Philosophy p{
        display: grid;
    grid-row: 3/4;
    align-items: center;
    text-align: -webkit-center;
    padding-left: 100px;
    padding-right: 100px;
    font-family: fantasy;
    color: green;
  }

  .card{
    width: 250px;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 241px 50px 30px 30px;
    /* width: 300px; */
    /* background: cadetblue; */
    border-radius: 20px;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    margin: 2%;
  }

  .card img{
    width: 100%;
    height: 100%;
    padding: 10px;
    grid-row: 1/2;
  }

  .card h3{
    grid-row: 2/3;
    padding: 0px 10px;
    display: grid;
    align-items: center;


  }

  .card h4{
    padding: 0px 10px;
    display: grid;
    align-items: center;
  }

  .card h6{
    padding: 0px 10px;
    color: green;
  }

  .card h5{
    padding: 0px 10px;
    color: green;
  }

  .CardRow{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: 400px;
    /* background-color: aqua; */
    margin-left: 5%;
  }

  .footer{
    width: 100%;
    background: aliceblue;
    height: 73vh;
  }

  .footer1{
    display: grid;
    grid-template-columns: 100px 0.3fr 1fr 100px;
    grid-template-rows: 150px;
  }

  .footer1 .left{
    grid-column: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
    color: green;
  }

  .footer1 .right{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
  }

















/* ------------------------------------------------------------------------------------ */

 @media (min-width: 767px) and (max-width:1300px){
  .hamburger{
    display:none;
  } 
  
  .navbar{
    
      grid-template-columns: 100px 1fr 100px;
      grid-template-rows: 40px;
      
    }

    .threeCat{
      display: grid;
      grid-template-columns: 20px 1fr 1fr 1fr 20px;
      grid-template-rows: 200px;
    }

    .box1{
      justify-content: flex-start;
    }
   
    .left{
      margin-left: 5%;
    }

    .left img{
      width: 80%;
    }

    .right h3{
      font-size:15px;
    }

    .threeCatMob{
      display: none;
    }

    .mobBox1{
      display: none;
    }

    .smMob{
      display: none;
    }

    .Philosophy{    grid-template-rows: 81px 36px 177px;
    }

    .Philosophy p{
      text-align: left;
    padding: 10px;
    }

   
  }


/* --------------------------------------------------------------------------------- */


@media (min-width: 500px) and (max-width:767px){
  
  .hamburger{
    display:block;
    grid-column:3/4;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .navbar{
    display: none !important;
  }

  
  .dropdown{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    
  }

  .logo-pic{
    grid-template-columns: 10px 1fr 10px;
  }

  .threeCat
  {
    display: none;
  }

  .threeCatMob{  display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 10px;
    grid-template-rows: 80px;
    background: white;
    grid-gap: 10px;
  }

  .mobBox1{
    grid-column: 2/3;
    width: 100%;
    background: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    
  }
  .mobBox2{
    grid-column:3/4 ;
    width: 100%;
    background: aliceblue;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
  }

  .mobBox3{
    grid-column: 4/5;
    width: 100%;
    background: aliceblue;
    border-radius: 20px;
    display: flex;box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);

  }

  .mobBox1 .left{
    margin-left: 5%;
    width: 30%;
    margin-top: 1%;
    text-align: center;
  }

  .mobBox1 .left img{
    width: 71%;
    padding-top: 30%;
  }

  .mobBox1 .right{
    width: 70%;
    text-align: inherit;
    padding-top: 11%;
    
    
  }

  .mobBox1 .right h6{
    color: green;
    
    
  }



  
  .mobBox2 .left{
    margin-left: 5%;
    width: 30%;
    margin-top: 1%;
    text-align: center;
  }

  .mobBox2 .left img{
    width: 71%;
    padding-top: 30%;
  }

  .mobBox2 .right{
    width: 70%;
    text-align: inherit;
    padding-top: 11%;
    
  }
  .mobBox2 .right h6{
    color: green;
    
    
  }

  
  .mobBox3 .left{
    margin-left: 5%;
    width: 30%;
    margin-top: 1%;
    text-align: center;
  }

  .mobBox3 .left img{
    width: 71%;
    padding-top: 30%;
  }

  .mobBox3 .right{
    width: 70%;
    text-align: inherit;
    padding-top: 11%;
    
  }

  .mobBox3 .right h6{
    color: green;
    
    
  }
  .smMob{
    display: none;
  }

  .Philosophy{
    grid-template-rows: 50px 50px 149px;
  }

  .Philosophy p{
    text-align: left;
    padding: 0px 10px;
  }
}









/* ---------------------------------------------------------------------------------- */

@media (max-width:500px){
  .Header{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px;
    
  }

  .title h1 {
    padding: 1%;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: green;
  }

  span{
    font-size:30px;
    padding: 2px;
    
  }

  .hamburger{
    display:block;
    grid-column:3/4;
    display: grid;
    justify-items: center;
    align-items: center;
    
  }

  .navbar{
    display: none !important;
  }

  .Lines{
    display: grid !important;
    grid-template-columns:  1fr !important;
    grid-template-rows: 20px !important;
    align-items: center !;
  }

  .mainLine {
    width: 100% !important;
    height: 1px;
    grid-column: 1/2;
    background-color:black;
    justify-items: center;
    background-color: green;
  }

  .dropdown{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
  }

  .logo-pic{
    display: block;
    margin-left:5%;
    margin-right: 5%;
    
  }

  .logo-pic img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .threeCat{
    display: none;
  }

  .smMob{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-gap: 10px;
  }
  

  .smMob .sm-box1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    border-radius: 10px;
  }

  .smMob .sm-box2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    border-radius: 10px;
    
  }

  .smMob .sm-box3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
    border-radius: 10px;
  }

  .smMob .sm-box1 h6{
    color: green;
  }
  .smMob .sm-box2 h6{
    color: green;
  }
  .smMob .sm-box3 h6{
    color: green;
  }
  .smMob .sm-box1 img{
    
    width: 30%;
    grid-row: 1/2;
    /* grid-column: 1/2; */

  }

  .smMob .sm-box2 img{
    
    width: 30%;
    grid-row: 1/2;
    /* grid-column: 2/3; */

  }

  .smMob .sm-box3 img{
    
    width: 30%;
    grid-row: 1/2;

  }

  .smBox1{
    justify-items: center;
  }

  .smBox2{
    justify-items: center;
  }

  .smBox3{
    justify-items: center;
  }
 
  .Philosophy{
    grid-template-rows: 50px 50px 257px;
    box-shadow: 0 6px 12px -4px rgba(11,18,25,.5);
  }

  .Philosophy p{
    text-align: left;
    padding: 0px 10px;
  }

  .CardRow{
    justify-items: center;
  }
  


  
}

